/* 
	Houle, Daniel B. 
	CS350/491 Summer 2019 
*/

@import "./main/header.css";
@import "./main/body_section.css";
@import "./main/footer.css";

* {
	background-color: #800020;
}

body{
	width: 50%;
  margin: 0px auto;
  color: white;
}

body img {padding :10px;}

h1 {
	text-align: center;
} 

hr {
	width: 100%;
}

div {
	text-align: left;
}



