<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Houle, Daniel B."> 
    <meta name="description" content="This page is to be used by users to file issues/comments">
    <title>Feedback - CS350/491 Project 4</title> 
    <link rel="stylesheet" type="text/css" href="/CSS/App.css">
    <link rel="stylesheet" type="text/css" href="/CSS/Feedback_/feedback.css">
    <script type="text/javascript" src="/javascripts/Feedback.js"></script>
    <script type="text/javascript" src="/javascripts/Footer.js"></script>
  </head>
  <body onload="buildNavbarMenu(event, 'Feedback');">
    <noscript> 
      <p>
        This web page uses JavaScript. For proper results,
        you must use a web browser with JavaScript enabled. 
      </p>
    </noscript>
    <header>
      <h1>Houle, Daniel B.</h1>
    </header>
    <hr>
    <section>
      <h3>Comments and/or Suggestions</h3>
      <hr>
      <form id="feedback-form" class="feedback-form" method="POST" onsubmit="sendEmail(event);">
        <label for="title-name">Title:</label>
        <input type="text" id="title-name" name="title-name" placeholder="Optional"><br>
        <label for="first-name">First Name:</label>
        <input type="text" id="first-name" name="first-name"placeholder="Required" required minlength="1"
                onfocusout="validateField(this.form.elements['first-name'], 'First Name');"><br>
        <label for="last-name">Last Name:</label>
        <input type="text" id="last-name" name="last-name"placeholder="Required" required minlength="1"
                onfocusout="validateField(this.form.elements['last-name'], 'Last Name');"><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" placeholder="Required" required
                onfocusout="validateField(this.form.elements['email']);"><br>
        <label for="phone">Phone Num:</label>
        <input type="tel" id="phone" name="phone" placeholder="Optional"
                onfocusout="validateField(this.form.elements['phone']);" pattern="^[0-9]{3}-[0-9]{3}-[0-9]{4}$"><br>
        <label for="body-text">Message:</label><br>
        <textarea id="body-text" name="body-text" rows = "5" cols = "50" required minlength="1"
                onfocusout="validateField(this.form.elements['body-text'], 'Message');"></textarea>
        <br>
        <br>
        <input class="button" type="submit" value="Send">
      </form>
    </section>
  </body>
  <hr>
  <footer>
    <div class="navbar" id="menuNavBar"></div>
  </footer>
 </html>