<!DOCTYPE html>
<html lang="en">
	<head>
    <meta charset="utf-8">
    <meta name="author" content="Houle, Daniel B."> 
    <meta name="description" content="This page contains a links to musuc videos">
    <title>Media Page - CS350/491 Project 3</title> 
    <link rel="stylesheet" type="text/css" href="/CSS/App.css">
    <link rel="stylesheet" type="text/css" href="/CSS/media/media.css">
    <script type="text/javascript" src="/javascripts/Footer.js"></script>
  </head>
  <body onload="buildNavbarMenu(event, 'Media');">
    <noscript> 
      <p>
        This web page uses JavaScript. For proper results,
        you must use a web browser with JavaScript enabled. 
      </p>
    </noscript>
    <header>
      <h1>Houle, Daniel B.</h1>
    </header>
    <hr>
    <section>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/DyDfgMOUjCI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/68ugkg9RePc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/edqcZTfopFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
  </body>
  <hr>
  <footer>
    <div class="navbar" id="menuNavBar"></div>
  </footer>
</html>