<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Houle, Daniel B."> 
    <meta name="description" content="This page is to be used by users to file issues/comments">
    <title>Story Time - CS350/491 Project 3</title>
    <link rel="stylesheet" href="../../CSS/App.css">
    <link rel="stylesheet" href="../../CSS/story_time/story_time.css">
    <script src="../../javascripts/Footer.js"></script>
  </head>
  <body onload="buildNavbarMenu(event, 'Lil_Story');">
  	<header>
      <h1>Houle, Daniel B.</h1>
    </header>
    <hr>
    <section>
      <!-- A list of pics goes here that describes a story -->
      <h3>Story time!!!</h3>
      <!-- 
        0 - http://kccollegegameday.com/2009/02/23/mascot-monday-southern-illinois-salukis/
        1 - https://www.z100fm.com/2019/02/15/feel-good-friday-kayla-and-thomas-from-progress-port-with-a-night-to-shine-2-15-19/ 
        2 - https://twitter.com/SIUSchoolofLaw/status/1083074044264697863
        3 - https://dailyegyptian.com/57857/siu-campus/siu-families-on-the-hunt-for-grey-dawg/
      -->
      <div class="story-time-table">
        <div class="story-time-row">
          <span>
            <a href="http://kccollegegameday.com/2009/02/23/mascot-monday-southern-illinois-salukis/">
              <img src="../../img/Lil_Story/0.jpeg" width="204" height="247" title="Start of story" alt="story_start">
            </a>
          </span>
          <span>
            <a href="https://www.z100fm.com/2019/02/15/feel-good-friday-kayla-and-thomas-from-progress-port-with-a-night-to-shine-2-15-19/">
              <img src="../../img/Lil_Story/1.jpg" width="188" height="250" title="Start of story" alt="story_start">
            </a>
          </span>
        </div>
        <div class="story-time-row">
          <span>
            <p>
              I was once young, thinking I was on top of the world. I was hanging out with the wrong crowd.
              I made a lot of bad decisions. This caused me to lose my day job, which led to an an even deeper
              downward spiral. I wasn't able to afford dental care, so I eventually lost all of my teeth. I realized
              I hit a low point when I realized I was doing basic tricks for treats for strangers on the street.
              I had to do something to get my life together.
            </p>
          </span>
          <span>
            <p>
              I eventually got myself together, and enrolled in school. I decided to go into Law to try to help young
              pups stay off the path I went on. This is a picture of me with one of my fraternity brothers. His frat
              name is not appropriate to display here. The men I met in the frat, and the people I met at school, helped
              me immensely at achieving my goal of attaining my Law degree. Without them, I wouldn't be where I am today.
              Some of them helped me through some dark times where I almost fell back to old habits.
            </p>
          </span>
        </div>
        <div class="story-time-row">
          <span>
            <a href="https://twitter.com/SIUSchoolofLaw/status/1083074044264697863">
              <img src="../../img/Lil_Story/2.jpg" width="252" height="250" title="Start of story" alt="story_start">
            </a>
          </span>
          <span>
            <a href="https://dailyegyptian.com/57857/siu-campus/siu-families-on-the-hunt-for-grey-dawg/">
              <img src="../../img/Lil_Story/3.jpeg" width="353" height="250" title="Start of story" alt="story_start">
            </a>
          </span>
        </div>
        <div class="story-time-row">
          <span>
            <p>
              After spending a few years as a lawyer, this is my first day as a judge. The guy in the picture is one of my 
              frat brothers, Flounder, who was in the area and decided to help me celebrate. I hope for many good years to come.
              My support network might not be exactly local, but it is strong. Yes, I still have not replaced my teeth. It helps 
              me remember my past.
            </p>
          </span>
          <span>
            <p>
              Another reason I haven't gotten new teeth, is because the kids seem to enjoy it. Outside of my daytime job as a judge,
              I do outreach programs to help stop the young ones from going down the same paths I did. They are the future, and
              need to be set in the right direction.
            </p>
          </span>
        </div>
      </div>
    </section>
  </body>
  <hr>
  <footer>
    <div class="navbar" id="menuNavBar"></div>
  </footer>
</html>