/* 
  Houle, Daniel B. 
  CS350/491 Summer 2019 
*/

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: square;
}

#game-area {
  width: 100%;
  margin: 0px auto;
}

#game-play {
  display:none;
}

#game-controls {
  display:none;
}

input[type="button"] { cursor: pointer; }