/* 
	Houle, Daniel B. 
	CS350/491 Summer 2019 
*/

footer {
	div {
		text-align: center;
	}
}

.main-footer-table {
	display: table;
}

.main-footer-row { display: table-row;}

.main-footer-row > * {
	display: table-cell;
}