/* 
  Houle, Daniel B. 
  CS350/491 Summer 2019 
*/

h3 { text-align: center; } 
.story-time-table { display: table; }
.story-time-row { display: table-row; }
.story-time-row > * { display: table-cell; }
